<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/ErrorStyles.css" rel="stylesheet" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="navbar navbar-inverse" role="navigation">

		<a class="navbar-brand" href="#">OnlineStore - интернет-магазин услуг</a>
		@Html.ActionLink("Выйти", "Logout", "UserAccount", null,
			 new { @class = "btn btn-lg" })
		@Html.ActionLink("Админ", "Login", "Account", null,
			 new { @class = "btn btn-lg" })
		@Html.Action("Summary", "Cart")
	</div>

<div class="navbar navbar-default" role="navigation">

	<div class ="btn-group btn-group-justified">
		@Html.Action("Menu", "Nav") 
	
	</div>
</div>

<div id="carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<img src="images/main1.jpg" alt="Главная1">
			
		</div>
		<div class="item">
			<img src="images/main2.jpg" alt="Главная2">
		</div>
		<div class="item">
			<img src="images/main3.jpg" alt="Главная3">
		</div>
	</div>
</div>>


<div class="col-xs-8 center-block">
				@RenderBody()
			</div>

</body>
</html>